@font-face {
    font-family: logo;
    src: url(fonts/otf/MontserratAlt1-Medium.otf);
}
  
/* splash screen */

body {
    margin: 0;
    padding: 0;
    background-color: #0f0e12;
    font-family: logo;
}

.splash-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #0f0e12;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.splash-disappear {
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 1;
    animation: fadeIn 1.5s ease-in forwards;
}

/* main content */